{% load url from future %}

<style type="text/css">
	{% for tip in tips %}
        #soi_{{forloop.counter0}}{background-color:{{tip.back_color}};}
	{% endfor %}
</style>

<div class="content-soi" ng-controller="SoiAppSimpleCtrl">
	<ul>
		{% for tip in tips %}
			<li soi-app-simple ng-init="tipId={{tip.id}};{% if request.user.is_authenticated %}userId={{request.user.id}}{% endif %}">
				<div id="soi_{{forloop.counter0}}" class="soi">
					<a href="#" data-reveal-id="modal_{{tip.id}}" data-reveal class="soi-tip-action soi-tip-action-open">
						<div class="soi-tip">
							<span class="soi-tip-icon">
								{% if tip.logo.image %}
									<img src="{{STATIC_URL}}{{tip.logo.image}}" alt="">
								{% elif tip.logo.classcss %}
									<i class="{{tip.logo.classcss}}"></i>
								{% endif %}						
							</span>
							<div class="soi-tip-name">
								<p>
									{{tip.visited}}
									{{tip.name}}
								</p>
							</div>
						</div>
					</a>
					{% with tip.tip as servicio %}    
						<div class="soi-service">
							<div class="soi-service-header">
								<span class="soi-service-name">
									<a href="{{servicio.url}}" target="_blank">
										{{servicio.name}}
									</a>
								</span>
								<span class="soi-service-icon">
									<a href="{{servicio.url}}" target="_blank">
										{% if servicio.logo.image %}
											<img src="{{STATIC_URL}}{{servicio.logo.image}}" alt="">
										{% elif servicio.logo.classcss %}
											<i class="{{servicio.logo.classcss}}"></i>
										{% endif %}		
									</a>
								</span>
							</div>
						</div>
					{% endwith %}
				</div>
							
				<div class="reveal-modal" id="modal_{{tip.id}}" data-reveal>
					<div class="panel-modal">
						<h2>
		                	{% if tip.logo.image %}
								<img src="{{STATIC_URL}}{{tip.logo.image}}" alt="">
							{% elif tip.logo.classcss %}
								<i class="{{tip.logo.classcss}}"></i>
							{% endif %}
							{{tip.name}} 
						</h2>

	                	<span class="close-reveal-modal soi-tip-action-close"><i class="fa fa-times"></i></span>
					</div>

					<div id="tabs_content" class="tabs-content">
					  <ul>
					    <li><a href="#modal_{{tip.id}}_tab1">Consulta</a></li>
					    <li ng-show="showResult"><a href="#modal_{{tip.id}}_tab2">Gráfica</a></li>
					    <li ng-show="showResult"><a href="#modal_{{tip.id}}_tab3">Estadística</a></li>
					    <li ng-show="showResult"><a href="#modal_{{tip.id}}_tab4">Tabla</a></li>
					  </ul>

					  <div class="modal-content" id="modal_{{tip.id}}_tab1">
	                    <div class="content-modal">
	                    	{{tip.description|safe}}
	                    </div>
	                    <div class="test-modal">
	                    	<span>
								<label><input placeholder='Escribe la consulta Básica:' type='text' name='s' value=''></label>
							</span>
							<span>
								<button class='get-google button [radius round tiny small large]'>Probar <i class='fa fa-bolt'></i></button>
								|
								{% if request.user.is_authenticated %}
									<a class="button [radius round tiny small large]" href="/logout/">Salir ({{request.user}}) <i class="fa fa-sign-out"></i></a>
								{% else %}
									<a class="button [radius round tiny small large]" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Entrar con <i class="icon-google"></i></a>
									&nbsp;
									<a class="button [radius round tiny small large]" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Entrar con <i class="fa fa-facebook"></i></a>
									{% comment %}
									<a class="button [radius round tiny small large]" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Guardar Progreso <i class="fa fa-floppy-o"></i></a>
									{% endcomment %}
								{% endif %}
							</span>
	                    </div>
					  </div>

					  <div class="modal-content" id="modal_{{tip.id}}_tab2">
					  	<canvas id="graphic_{{tip.id}}" class="graphic" width="900" height="400"></canvas>
					  </div>

					  <div class="modal-content" id="modal_{{tip.id}}_tab3">
					  	<canvas id="chart_{{tip.id}}" class="chart" width="900" height="850"></canvas>
                        <div>
                            <ul ng-repeat="data in datasets" class="app-simple-knob">
                                <li>
                                    <span><h2>Consulta <%=$index%></h2></span>
                                    <span ng-repeat="label in labels">
                                        <input soi-app-simple-knob ng-model="data.data[$index]" data-font="Roboto" fontWeight="bold" data-width="60" data-height="60" data-linecap="round" class="knob" data-inputColor="<%=data.strokeColor%>" data-fgcolor="<%=data.fillColor%>" data-thickness=".4" data-readonly="true" readonly="readonly" >
                                        <p><%=label%> <strong> (<%=data.data_full[$index]%>) </strong></p>
                                    </span>
                                </li>    
                            </ul>
                        </div>
					  </div>
					  <div class="modal-content" id="modal_{{tip.id}}_tab4" ng-init="objectsContent=queryObject.objectsContent">
					  	<div ng-repeat="object in objectsContent">
					  		<ul ng-init="query=object.query">
						  		<table>
								  <thead>
								    <tr>
								      <th width="20">Consulta</th>
								      <th width="200">Titulo</th>
								      <th>Url</th>
								      <th width="150">Descripción</th>
								      <th width="150">Imagen</th>
								    </tr>
								  </thead>
								  <tbody ng-init="$i=$index">
								  	<tr ng-repeat="item in query.items" >
									      <td><%=$i%></td>
									      <td ng-bind-html-unsafe="item.htmlTitle"></td>
									      <td><a href="<%=item.link%>" title=""><%=item.displayLink%></a></td>
									      <td ng-bind-html-unsafe="item.htmlSnippet"></td>
									      <td><img ng-src="<%=item.pagemap.cse_image[0].src%>" alt=""></td>
							  		</tr>
								  </tbody>
								</table>
					  		</ul>
					    </div>
					  </div>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>