<div class="content">
    <hr class="separador-shadow">
	<div class="content-process">
		<div class="title">
			<h2>{{instance.titulo}}</h2>
			<hr>
		</div>
		<ul>
			{% for image in gallery %}
				<li class="{% if forloop.first%}first{% elif forloop.last%}last{% endif %}">
					<span class="image">
						<img src="{{STATIC_URL}}{{image.image}}" alt="">
					</span>
					<span class="text process-text">
						{{image.description|safe}}
					</span>
					<span class="icon">
						<i class="fa fa-angle-right"></i>
					</span>
				</li>
			{% endfor %}
		</ul>     
	</div>
</div>