// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

@import "variables";

@import "ceaser-easing";

@import "compass";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

@mixin center-content{ 
	&{
		text-align: center;

		&::before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em; /* espaciado entre .ejemplo:before y .contenido */
			/* Para ver el pseudoelemento
			background: #9DC425; width: 5px;
			*/
		}

		&>*{
			display: inline-block;
			vertical-align: middle;
		}
	}
}

$colorVerde: #1ec87c;
$colorVerdeClaro: #5ad79f;
$colorVerdeOscuro: #16b56e;
$colorBlanco: #fff;
$colorNegro: #000;
$colorGris: #999999;
$colorAmarillo: #f6eb14;

$static: '/static/';

body{
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

.container{
	width:100%;
	display:block;
	position:relative;
	clear: both;
}

.content {
	@include grid-row();
	position: relative;
    
    &.no-home{
        padding: 15px 0px 10px 0px;
    }
    
	.content-menu{
		@include grid-column(10, true);
		bottom: 0px;
		right: 0px;
		position: absolute;

		nav{
			@extend .pm0;
			width: 100%;

			ul{
				@extend .pm0;
				text-align: right;
				vertical-align: bottom;
				position:relative;
				display:block;
				width: 100%;

				li{
					@extend .pm0;
					display:inline-block;
					border-right: 1px $colorVerdeClaro solid;

					a{
						border-right: 1px $colorVerdeOscuro solid;
						display:block;
						padding: 0px 10px;
						color: $colorBlanco;
						font-family:'Roboto';
						line-height: 48px;
						font-size: 24px;
						text-transform: uppercase;
						font-weight: 300;
					}
				}
			}
		}
	}

	.content-logo{
		@include grid-column(2);
		
		.logo{
			min-height: 100px;
			display: block;
		}
	}
}

#header{
	background-color: $colorVerde;
	overflow: hidden;
}

/*Styles Default*/

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
}

.pm0{
	margin:0px;
	padding:0px;
}

/*fonts*/
@import url("http://fonts.googleapis.com/css?family=Open+Sans|Oswald|Roboto:300,100");

p, h1, h2, h3, h4, h5{
	font-family: 'Open Sans';
}


/*Style Slider*/

.content-slider { 
	position: relative; overflow: auto; 
	width:100% !important;
	overflow:hidden;

    ul{
		width:100%;
	    
	    li {
	    	width:100%;
	    	display:block;
			height: 450px;
	     	float: left;
	     	background-size: cover;
	     	background-position: center;
	     	background-repeat: no-repeat;

	     	.text{
	     		overflow:hidden;
	     		width:60%;
	     		margin:auto;
	     		display:block;
	     		padding:20px 30px;
	     		background-color: rgba(0,0,0,0.8);
				font-family: 'Roboto';
				font-size: 30px;
				color: $colorBlanco;
				text-align: center;

				p{
					@extend .pm0;
				}

				b, strong{
					color: $colorVerde;
					text-transform: uppercase;
				}
	     	}
	    }
	}
    .banner .btn, .banner .dot {
		-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	}
	
	.dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 20px;
		text-align: center;
		width:100%;
	}

	.dots li {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 0 4px;
		
		text-indent: -999em;
		
		border-radius: 50%;
		background: $colorBlanco;
		
		cursor: pointer;
		
		-webkit-transition: background .5s, opacity .5s;
		-moz-transition: background .5s, opacity .5s;
		transition: background .5s, opacity .5s;
	}

	.dots li.active {
		background: $colorVerde;
	}
}

/*Newsletter*/

.content-newsletter{
	background-image: url($static + 'images/back_email.png');
	background-repeat: repeat;

	.text{
		@include grid-column(6);
		padding:20px 0px;
		
		span{
			display:block;
			color:$colorVerde;
			text-align: justify;
			padding: 0px 20px;

			*{
				color:$colorVerde;
				@extend .pm0;
			}
		}
	}

	.form{
		@include grid-column(6);
		padding:20px 0px;

		form{
			.email{
				@include grid-column(8);
				font-size: 14px;
				line-height: 16px;
				padding:10px 5px;
				margin:0px;
				display:block;
				height: 36px;
			}

			.submit{
				@include grid-column(4);
				font-size: 14px;
				line-height: 16px;
				padding:10px 5px;
				margin:0px;
				background-color: $colorVerde;
				color:$colorBlanco;
				border: none;
				display:block;
				height: 36px;
			}
		}

		span{
			display:block;
			@extend .pm0;
			color:$colorBlanco;
			text-align: justify;
			text-align: center;

			&>*{
				color:$colorBlanco;
				@extend .pm0;
			}
		}
	}
}

/*Footer*/
footer{
	background-color: $colorVerde;
	padding:20px;

	ul{
		display:block;
		width:100%;
		padding:0px;
		margin:0px;
		text-align: center;

		li{
			display:inline-block;
			color:$colorBlanco;
			font-size: 16px;

			border-right: 1px $colorBlanco solid;

			.last{
				border-right: none;
			}
			
			a, p{
				display:inline-block;
				font-family: 'Roboto';
				color:$colorBlanco;
				font-size: 16px;
				padding:0px 15px;
				margin:0px;
			}
		}
	}
}

hr{
	background-image: url($shadow_title);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width:100%;
	height:2px;
	display:block;
	border:none;
	clear:both;
	@extend .pm0;
}

/*Procesos*/
.content-process{
	padding: 10px 0px;

	.title{
		@include grid-row();
		text-align: center;
		float:none;
		margin: 20px 0px;

		h2{
			@extend .pm0;
			font-size: 24px;
			text-transform: uppercase;
			background-color: $colorVerde;
			color: $colorBlanco;
			padding: 10px 20px;
			min-width: 400px;
			display: inline-block;
			font-family:'Roboto';
			font-weight: 100;
		}
	}

	ul{
		@include grid-column(12);
		float:none;
		overflow:hidden;

		li{
			@include grid-column(4);
			text-align: center;
			position:relative;

			&.first{}
			&.last{
				i{
					display:none;
				}
			}

			.image{
				display:block;
				position: relative;

				img{
					@include ceaser-transition(all, 500ms, $easeInOutExpo);
					cursor: pointer;

					&:hover{
						@include rotate(45deg);
					}
				}
			}

			.text{
				p{
					font-family:'Roboto';
					font-weight: 100;
					font-size: 24px;
					text-transform: uppercase;
					@extend .pm0;
					color: $colorVerde;
				}
			}

			.icon{
				position:absolute;
				right:-20px;
				top:0px;
				vertical-align: middle;
				height:100%;

				@include center-content;

				i{
					vertical-align: middle;
					font-size: 80px;
					line-height: 80px;
					width:40px;
					color: $colorGris;
				}
			}
		}
	}
}

button{
	background-color: $colorGris;
	border-color: $colorBlanco;

	&:hover{
		background-color: $colorVerdeOscuro;
		border-color: $colorBlanco;
	}
}

/*soi app*/
.content-soi{
	@include grid-row();
	padding: 10px 0px;
	ul{
		display: block;
		//overflow: hidden;
		
		li{
			@include grid-column(3);
			//overflow: hidden;
			min-height: 250px;
			padding:0px;
			position: static;

			.soi{
				@include border-radius(5px);
				margin:10px;
				overflow:hidden;
				background-color: $colorVerde;
				position: relative;
                @include single-box-shadow;
                @include ceaser-transition(all, 500ms, $ease-out, 0s);
                
                &:hover{
                    z-index:20;
                    @include scale( 1.1, 1.1 );
                }

				.soi-tip-action{
					display: block;
					color:$colorBlanco;

					.soi-tip{
						position: relative;

						.soi-tip-icon{
							position:absolute;
							top:0px;
							left:0px;
							padding:10px;
                            

							img{
								height:50px;
							}

							i{
								line-height: 50px;
								font-size: 50px;
							}
						}

						.soi-tip-name{
							@include center-content;
							position: relative;
							height:250px;
							//min-height:250px;
                            
							p{
								@extend .pm0;
								font-family: 'Roboto';
								font-weight: 400;
								font-size: 20px;
								text-transform: uppercase;
								line-height: 22px;
								padding: 0px 20px;
							}
						}
					}
				}
                
				.soi-service{
					float:left;
					//min-height: 70px;
					bottom: 0px;  
					width: 100%;
                    background-color: #fff;

					.soi-service-header{

						.soi-service-name{
							padding: 10px;
							a{
								color: #999;
								line-height: 50px;
								font-size: 24px;
								font-family: 'Roboto';
							}
						}

						.soi-service-icon{
							padding: 10px 20px;
							float:right;
							
							a{
								color: $colorBlanco;
								img{

								}

								i{
									color: #666;
									line-height: 50px;
									font-size: 24px;
								}
							}
						}
					}


					/*.soi-service-more{
						
						a{
							display: block;
							width: 100%;
							text-align: center;
							color: $colorBlanco;
							background-color: $colorVerdeOscuro;

							&:hover{
								background-color: $colorVerdeClaro;
							}

							i{
								line-height: 20px;
								font-size: 20px;
							}
						}

						.soi-service-description{
							display:none;
							text-align: justify;
							background-color: $colorVerdeClaro;
							padding: 10px;

							p{
								@extend .pm0;
								font-family: 'Open Sans';
								font-size: 16px;
							}
						}
					}*/
				}
			}
		}
	}
}

.soi-tip-action-close{
	position: relative;
	top: 0px;
	right: 0px;
	cursor: pointer;
	color: #000;
}

.app-simple-knob{
    position: relative;
    top: -200px;

    li{
        @include grid-row();
        
        span{
            @include grid-column(3, true);
            
            text-align: center;
            
            h2{
                font-weight:800;
                font-family:"Roboto";
                color:#666;
                text-transform: uppercase;
                line-height: 60px;
                vertical-align: middle;
            }
            
            div{
            }
            
            p{
                font-size:12px;
                font-weight:800;
                font-family:"Roboto";
                color:#999;
                margin-top: 5px;
                
                strong{
                    color: #000;
                }
            }
        }
    }
}

.tabs-content{
    border: 1px #dedede solid;
    
    .ui-tabs-nav{
        margin: 0px !important;
        padding: 0px !important;
        border: 0px !important;
        border-bottom: 1px #dedede solid !important;
        
        li{
            padding:0px !important;
            margin:0px !important;
        }    
    }
}

.panel-modal{
    margin-bottom: 20px;
    
    h2{
        font-size:14px;
        color:#000;
        
        i, img{
            display: inline-block;
            width:26px;
            height:26px;
            font-size:26px;
            line-height:26px;
            margin-left:10px;
            color:#1ec87c;
        }
    }
}

.tabs-content{
	ul{
		
		li{
			a{

			}
		}
	}

	.modal-content{
		
	}
}

hr.separador-shadow{
    z-index:10;
    background-image: url($separador_shadow);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    border: none;
    clear:both;
    display: block;
    width:100%;
    min-height:20px;
    position:absolute;
    top: 0%;
    margin: 0px;
    padding: 0px;
}

hr.bottom-shadow{
    z-index:10;
    background-image: url($bottom_shadow);
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center bottom;
    border: none;
    clear:both;
    display: block;
    width:100%;
    min-height:20px;
    position:absolute;
    bottom: 0%;
    margin: 0px;
    padding: 0px;
}

/*.test-modal{
	padding: 10px 0px;
	width: 100%;
	position: relative;
	display: block;

	table.result{
		margin: 10px 0px;
		vertical-align: top;
		position:relative;
		width: 100%;
		display: block;

		& *{
			vertical-align: top;
		}

		& > tbody{
			overflow: auto;
			max-height:500px;
			display:block;
			max-width: 95%;
			position:relative;
		}

		table{
			display:block;
			width:100%;
			position:relative;
			
			tbody{
				display:block;
				width: 100%;

				tr{
					display:block;

					td{
						a{
							word-break: break-word;
						}

						width:30%;

						&.last{
							width:70%;

						}
					}
				}
			}
		}
	}
}*/

/*modal*/
/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/
/*.md-perspective,
.md-perspective body {
    height: 100%;
    overflow: hidden;
}

.md-perspective body  {
    background: #222;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
}

.container {
    min-height: 100%;
    
}

.md-modal {
    position: absolute;
    top: initial;
    left: 50%;
    width: 960px;
    max-width: 100%;
    min-width: 90%;
    height: initial;
    overflow: hidden;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba($colorBlanco,0.8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

.md-content {
    color: #fff;
    background: $colorVerde;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
}

.md-content h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 300;
    background: rgba(0,0,0,0.1);
    border-radius: 3px 3px 0 0;
    color: $colorBlanco;
    font-family: 'Roboto';
    text-transform: uppercase;

    i, img{
    	float: right;
    }
}

.md-content > div {
    padding: 15px 40px 30px;
    margin: 0;
    font-weight: 300;
    font-size: 1.15em;
}

.md-content > div p {
    margin: 0;
    padding: 10px 0;
}

.md-content > div ul {
    margin: 0;
    padding: 0 0 30px 20px;
}

.md-content > div ul li {
    padding: 5px 0;
}

.md-content button {
    display: inline-block;
    margin: 0 auto;
    font-size: 0.8em;
}

.md-content .content-button{
	text-align: right;
}

.md-effect.md-modal {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.md-effect .md-content {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-60deg);
    -moz-transform: rotateX(-60deg);
    -ms-transform: rotateX(-60deg);
    transform: rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect .md-content {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
}*/