
@charset "UTF-8";

@font-face {
  font-family: "soi";
  src:url("fonts/soi.eot");
  src:url("fonts/soi.eot?#iefix") format("embedded-opentype"),
    url("fonts/soi.ttf") format("truetype"),
    url("fonts/soi.svg#soi") format("svg"),
    url("fonts/soi.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "soi" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "soi" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-bandera:before {
  content: "\a1";
}

.icon-archivos:before {
  content: "\a2";
}

.icon-asterisco:before {
  content: "\a3";
}

.icon-googleplus:before {
  content: "\a4";
}

.icon-mundo:before {
  content: "\a5";
}

.icon-brujula:before {
  content: "\a6";
}

.icon-facebook:before {
  content: "\a7";
}

.icon-google:before {
  content: "\a8";
}

.icon-vimeo:before {
  content: "\a9";
}

.icon-youtube:before {
  content: "\a10";
}

.icon-linkedin:before {
  content: "\a11";
}

