<div class="content-newsletter">
    <div class="content">
        <div class="text">
            <span>{{instance.texto|safe}}</span>
        </div>
        <div class="form">
            {% if not request.GET.newsletter %}
                <form action="/lists/{{ list.id }}/subscribe/" method="post" class="form-inline">
                    <input type="hidden" name="list_id" value="{{list.id}}"/>
                    {% csrf_token %}
                    <input type="email" name="email" class="email" placeholder="Dirección de Email"/>
                    <input type="submit" class="submit" value="Empezar Ahora"/>
                </form>
            {% else %}
                <span>{{instance.msg|safe}}</span>
            {% endif %}    
        </div>
    </div>
</div>