<div class="content-slider">
	<ul>
		{% for image in gallery %}
			<li style="background-image:url({{STATIC_URL}}{{image.image}});">
				<span class="text">
					{{image.description|safe}}
				</span>
			</li>
		{% endfor %}
	</ul>     
</div>