{% load i18n cms_tags sekizai_tags menu_tags %}
{% spaceless %}
<html ng-app="soi">

{% block head %}
    <head>
        <title>{% page_attribute page_title %}</title>
        <meta name="description" content="{% page_attribute meta_description %}"/>
        <meta name="keywords" content="{% page_attribute meta_keywords %}"/>
        {% block "css" %}{% endblock %}
    </head>
{% endblock  %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{analytics.codigo}}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% block body %}
    <body>
        <header id="header">
            <div class="content">
                <div class="content-logo">
                    <span class="logo">
                        <img src="{{logo}}" alt="">
                    </span>
                </div>
                <div class="content-menu">
                    <nav>
                        <ul>
                            {% show_menu 0 100 0 100 %}
                        </ul>
                    </nav>  
                </div>
            </div>
        </header>
        
        <div class="container">
            <hr class="separador-shadow">
            {% block base_content %}{% endblock %} 
            <hr class="bottom-shadow">
        </div>
        
        <footer>
            <div class="content">
                <ul>
                    <li><p>&#169; 2013</p></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="https://twitter.com/buscaeninternet">Twitter</a></li>
                    <li><a href="#">Youtube</a></li>
                    <li class="last"><a href="mailto:comobuscareninternet.2013@gmail.com">comobuscareninternet.2013@gmail.com</a></li>
                </ul>
            </div>
        </footer>

        {% block "js" %}{% endblock %}

        <script type="text/javascript">
            $(document).ready(function() {
                {% block onready %}{% endblock %}
            });
        </script>

    </body>
{% endblock%}
</html>
{% endspaceless %}