{% extends "base.html" %}
{% load i18n cms_tags sekizai_tags menu_tags %}

{% block "css" %}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}css/styles/main.css">
	<link rel="stylesheet" href="{{STATIC_URL}}soi/css/fonts.css">
{% endblock %}

{% block "js" %}
	{{ block.super }}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jsoneditor/1.6.2/jsoneditor-min.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>

	<script src="{{STATIC_URL}}soi/js/libs/springy/springy.js"></script>
	<script src="{{STATIC_URL}}soi/js/libs/springy/springyui.js"></script>

	<script src="{{STATIC_URL}}soi/js/libs/jquery.knob.js"></script>

	<script src="{{STATIC_URL}}soi/js/app.js"></script>

	<script src="{{STATIC_URL}}soi/js/libs/classie.js"></script>

	<script src="{{STATIC_URL}}css/javascripts/foundation/foundation.js"></script>
	<script src="{{STATIC_URL}}css/javascripts/foundation/foundation.reveal.js"></script>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/xregexp/2.0.0/xregexp-min.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

	<script>
            // this is important for IEs
            var polyfilter_scriptpath = '{{STATIC_URL}}soi/js/libs/';
            $(document).foundation();
    </script>

{% endblock %}

{% block onready %}
	{{ block.super }}
	$(".tabs-content").tabs();
{% endblock %}

{% block base_content %}
	{% placeholder template_home_content %}
{% endblock %}

