{% extends "base.html" %}
{% load i18n cms_tags sekizai_tags menu_tags %}

{% block "css" %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/libs/simpletextrotator.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/styles/main.css">
{% endblock %}

{% block "js" %}
{{ block.super }}
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

	<script src="{{STATIC_URL}}js/libs/unslider.js"></script>
	{#<script src="{{STATIC_URL}}js/libs/jquery.lazylinepainter-1.4.1.min.js"></script>#}
	<script src="{{STATIC_URL}}js/libs/jquery.simple-text-rotator.min.js"></script>

	<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>-->
		
{% endblock %}

{% block onready %}
	{{ block.super }}
    
	$('.content-slider').unslider(
		{
			speed: 500,               //  The speed to animate each slide (in milliseconds)
			delay: 5000,              //  The delay between slide animations (in milliseconds)
			complete: function() {},  //  A function that gets called after every slide animation
			keys: true,               //  Enable keyboard (left, right) arrow shortcuts
			dots: true,               //  Display dot navigation
			fluid: false              //  Support responsive design. May break non-responsive designs
		}
	);

	$(".process-text p span.rotate").each(function(){
		$(this).textrotator(
			{
				animation: "fade", // You can pick the way it animates when rotating through words. Options are dissolve (default), fade, flip, flipUp, flipCube, flipCubeUp and spin.
				separator: "|", // If you don't want commas to be the separator, you can define a new separator (|, &, * etc.) by yourself using this field.
				speed: 2000 // How many milliseconds until the next word show.
			}
		)
	});
{% endblock %}

{% block base_content %}
	{% placeholder template_app_content %}
{% endblock %}