{% extends "base.html" %}
{% load i18n cms_tags sekizai_tags menu_tags %}

{% block "css" %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/libs/simpletextrotator.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/styles/main.css">
{% endblock %}

{% block "js" %}
{{ block.super }}
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>

	<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>-->
		
{% endblock %}

{% block onready %}
	{{ block.super }}
	
{% endblock %}

{% block base_content %}
	<div class="content no-home">
		{% placeholder template_app_content %}
	</div>
{% endblock %}